body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    padding: 1.5rem 1rem 0;
}

a {
    padding-left: 1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav button {
    color: #ffffff;
    background-color: #4285f4;
    font-size: 0.8rem;
    line-height: 1.8rem;
    width: 4rem;
    margin: 0 1rem;
    font-weight: bold;
    outline: none;
    border: none;
}

.nav a {
    color: #000000;
}

.nav__left, .footer__left {
    flex: 1;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0, -43%);
}

.section > h1 > img {
    width: 272px;
    height: 92px;
}

.search {
    position: relative;
}

.search__icon > img {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
}

.search__icon__alt {
    background: #4f4f4f;
    color: #ffffff;
    font-size: 13px;
    width: 6.5rem;
    height: 1.8rem;
    line-height: 0.2rem;
    text-align: center;
    position: absolute;
    top: 3.2rem;
    right: 0;
    transform: translateX(20%);
}

.section input {
    font-size: 1rem;
    outline: none;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    width: 32rem;
    border-radius: 2rem;
    border: 1px solid #dfe1e4;
}

.section input:hover, .secton input:focus {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.section button {
    font-size: 0.9rem;
    line-height: 1.8rem;
    margin: 1.5rem 0.2rem;
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    padding: 0.2rem 1rem;
}

.section button:hover {
    border: 1px solid #c6c6c6;
    color: #000000;
}

.footer {
    background-color: #f2f2f2;
}

.footer > div {
    border-top: 1px solid rgba(228,228,228,1);
    padding: 0.8rem 1rem;
}

.footer > div:first-child {
    padding-top: 0.8rem;
    padding-left: 2rem;
}

.footer > div, .footer a {
    color: rgba(0,0,0,.54);
}

.footer__container {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

.footer a:last-child {
    padding-right: 1rem;
}